// Set variables here
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

$font-family-base: 'Lato', Helvetica, sans-serif;
$border-radius: 3px;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Set custom css here
.svg-card {
  .card-body {
    padding: 0px;
  }
}

.icon-button {
  text-align: center;
  line-height: 100%;
}

.no-link-style a {
  color: white;
  text-decoration: none; /* no underline */
}

.svg-predisplay {
  width: 100%;
}

#main-container {
  padding: 30px;
}

.svg {
  width: 100%;
  height: 100%;
}

.editor-button {
  margin-left: 5px;
}

.board {
  width: 100%;
}

.splash-text {
  margin: 50px;
  h1 {
    font-size: 5rem;
    text-shadow: 2px 2px #ffffff;
  }
  p {
    font-size: 1.5rem;
  }
}

.splash-text-last {
  margin-bottom: 0px;
}